# Module 3: Data Structures Assignments

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [4]:
tuple_int = tuple(range(1, 11))

print(tuple_int)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
print(tuple_int[0], tuple_int[len(tuple_int)//2], tuple_int[-1])

1 6 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [7]:
print(tuple_int[:3])            # first three elements
print(tuple_int[-3:])           # last three elements
print(tuple_int[2:6])           # from index 2 to 5

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [8]:
tuple_matrix = ((1, 2, 3),(4, 5, 6),(7, 8, 9))

print(tuple_matrix[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [10]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [13]:
tuple_duplicates = (1, 1, 3, 2, 3, 4, 3 ,4, 6, 5, 7)

print(tuple_duplicates.count(3))
print(tuple_duplicates.index(4))

3
5

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [14]:
tuple_unpack = (45, 79, 69, 41 ,52)
a, b, c, d, e = tuple_unpack

print(a, b, c, d, e)

45 79 69 41 52

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [19]:
list_int = [1, 2, 3, 4, 5]

listToTuple = tuple(list_int)
print(listToTuple)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [20]:
tuple_matrix = ((1, 2, 3),(4, 5, 6),(7, 8, 9))

for i in tuple_matrix:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [22]:
tuple_int = tuple(range(1, 6))

tuple_to_list = list(tuple_int)

tuple_to_list.append(6)

tuple_int = tuple(tuple_to_list)

print(tuple_int)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [25]:
string = "Harshal"
tuple_chars = tuple(string)

joined_string = ''.join(tuple_chars)
print(joined_string)

Harshal

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [27]:
tple_dict = {
    (1, 2) : 3, 
    (4, 5) : 6,
    (7, 8) : 9
}

print(tple_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [30]:
tple_nested = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

for tple in tple_nested:
    for element in tple:
        print(element, end=" ")

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [31]:
tuple_dup = (1, 1, 2 ,8, 7, 7, 6 ,7 ,4 ,2)

tuple_to_set = set(tuple_dup)

print(tuple_to_set)

{1, 2, 4, 6, 7, 8}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [34]:
def calc(a):
    minVal = min(a)
    maxVal = max(a)
    sumOfEle = sum(a)
    return minVal, maxVal, sumOfEle

tuple_int = (5, 4, 979, 9 ,97 ,87 ,54 ,3)

result = calc(tuple_int)
print(f"Minimum number: {result[0]}")
print(f"Maximum number: {result[1]}")
print(f"Sum of numbers: {result[2]}")

Minimum number: 3
Maximum number: 979
Sum of numbers: 1238