# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [3]:
# set_int = {i for i in range(1, 11)}
set_int = set(range(1, 11))
print(set_int)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
set_int.add(11)         # add 11
set_int.remove(1)

print(set_int)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [9]:
set1 = set(range(1, 6))
set2 = set(range(2, 13, 2))

print("Set 1:",set1)
print("Set 2:",set2)

union_op = set1.union(set2)
intersect_op = set1.intersection(set2)
diff_op = set1.difference(set2)
symm_diff = set1.symmetric_difference(set2)

print(union_op)
print(intersect_op)
print(diff_op)
print(symm_diff)

Set 1: {1, 2, 3, 4, 5}
Set 2: {2, 4, 6, 8, 10, 12}
{1, 2, 3, 4, 5, 6, 8, 10, 12}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10, 12}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [10]:
set_sqre = {i*i for i in range(1, 11)}

print(set_sqre)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [11]:
set_even = {i for i in set_int if i%2==0}

print(set_even)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [14]:
s = {1, 1, 2, 4, 8, 9, 5, 4}
s_unique = set(s)
print(s_unique)

{1, 2, 4, 5, 8, 9}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [23]:
set_int1 = set(range(1, 6))
set_int2 = set(range(1, 4))

print("Set 1:", set_int1)
print("Set 2:", set_int2)

print("Is set2 subset of set1:", set_int2.issubset(set_int1))
print("Is set1 superset of set2:", set_int1.issuperset(set_int2))

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 2, 3}
Is set2 subset of set1: True
Is set1 superset of set2: True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [24]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [25]:
set1 = set(range(1, 6))

set_to_list = list(set1)

set_to_list.append(6)

set1 = set(set_to_list)
print(set1)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [26]:
dict_data = {
    frozenset({1, 2}): 3,
    frozenset({4, 5}): 6,
    frozenset({7, 8}): 9,
}

print(dict_data)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [27]:
set_elements = {45, 74, 83, 12, 17, 2, 3}

for i in set_elements:
    print(i, end=" ")

17 2 3 83 74 12 45

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [29]:
set_num = set(range(1, 8))

while set_num:
    removed_ele = set_num.pop()
    print(f"Set after removing {removed_ele}: {set_num}")

Set after removing 1: {2, 3, 4, 5, 6, 7}
Set after removing 2: {3, 4, 5, 6, 7}
Set after removing 3: {4, 5, 6, 7}
Set after removing 4: {5, 6, 7}
Set after removing 5: {6, 7}
Set after removing 6: {7}
Set after removing 7: set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [31]:
set1 = {1, 5, 6, 7, 8}
set2 = {9, 7, 8, 9, 3}

set1.symmetric_difference_update(set2)
print(set1)

{1, 3, 5, 6, 9}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [33]:
set_ele = {45, 98, 33, 457, 11, 223}

print(45 in set_ele)
print(69 in set_ele)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [37]:
set_tuples = {(i,j) for i in range(1, 6) for j in range(6, 10)}

for tple in set_tuples:
        print(tple)

(4, 9)
(3, 7)
(4, 6)
(5, 7)
(1, 6)
(1, 9)
(2, 8)
(3, 9)
(5, 6)
(4, 8)
(3, 6)
(5, 9)
(2, 7)
(1, 8)
(4, 7)
(3, 8)
(5, 8)
(2, 9)
(1, 7)
(2, 6)