# Module: Pandas Assignments
## Lesson: Pandas

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [6]:
# 1.
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])

print("Original Data Frame:\n", df)

print()

# Set the index to be the first column
df.set_index('A', inplace=True)
print("Data frame with new index:\n", df)

Original Data Frame:
     A   B   C   D
0  43  73   9  29
1  63  72  40  62
2  82  59  13  10
3  32  79  75  88
4  77  89  41  66
5   7  95  19   6

Data frame with new index:
      B   C   D
A
43  73   9  29
63  72  40  62
82  59  13  10
32  79  75  88
77  89  41  66
7   95  19   6

In [7]:
#2.
df2 = pd.DataFrame(np.random.randint(1, 50, size=(3, 3)),columns=["X", "Y", "Z"], index=['A', 'B', 'C'])

print("Original Dataframe:\n", df2)

Original Dataframe:
     X   Y   Z
A   9   5  34
B  23  36  40
C  18  37  23

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [11]:
# 1.
df = pd.DataFrame(np.random.randint(1, 16, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original Data frame:\n",df)

print()

df['A x B'] = df['A'] * df['B']
print("Modified Data frame:\n", df)

Original Data frame:
     A  B  C
0   1  6  3
1   8  8  7
2   5  9  8
3   2  9  5
4  15  5  8

Modified Data frame:
     A  B  C  A x B
0   1  6  3      6
1   8  8  7     64
2   5  9  8     45
3   2  9  5     18
4  15  5  8     75

In [15]:
# 2.
df2 = pd.DataFrame(np.random.randint(1, 50, size=(4, 3)))

print("Original Dataframe:\n", df2)

# compute the row wise and column wise sum
row_sum = df2.sum(axis=0)
col_sum = df2.sum(axis=1)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(col_sum)

Original Dataframe:
     0   1   2
0  25   7   6
1  41  10  43
2  26  38  46
3  31   4   2
Row-wise sum:
0    123
1     59
2     97
dtype: int64
Column-wise sum:
0     38
1     94
2    110
3     37
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [19]:
# 1.
df = pd.DataFrame(np.random.randint(1, 16, size=(5, 3)), columns=['A', 'B', 'C'])

print("Original DataFrame:\n", df)
print()

df.iloc[1,1] = np.nan
df.iloc[0, 2] = np.nan
df.iloc[4, 0] = np.nan

print("Data Frame with NaN values:\n", df)

print()

df.fillna(df.mean(), inplace=True)
print("Data Frame with NaN values filled:\n", df)

Original DataFrame:
     A   B   C
0   1  15   7
1   2   9   5
2   6   3   1
3   9   3   2
4  13   8  10

Data Frame with NaN values:
      A     B     C
0  1.0  15.0   NaN
1  2.0   NaN   5.0
2  6.0   3.0   1.0
3  9.0   3.0   2.0
4  NaN   8.0  10.0

Data Frame with NaN values filled:
      A      B     C
0  1.0  15.00   4.5
1  2.0   7.25   5.0
2  6.0   3.00   1.0
3  9.0   3.00   2.0
4  4.5   8.00  10.0

In [25]:
# 2.
df2 = pd.DataFrame(np.random.randint(1, 25, size=(6, 4)), columns=['A', 'B', 'C', 'D'])

print("Original Data Frame:\n", df2)
print()

df2.iloc[2, 2] = np.nan
df2.iloc[5, 3] = np.nan
df2.iloc[3, 3] = np.nan
df2.iloc[0, 0] = np.nan

print("Data Frame with NaN values:\n", df2)
print()

df2.dropna(inplace=True)

print("Data with dropped NaN values:\n", df2)

Original Data Frame:
     A   B   C   D
0  15  19  17  17
1   9   3  19  12
2  24  22   5   5
3   7   9  24   7
4   1  13  21   5
5  19   3   9   5

Data Frame with NaN values:
       A   B     C     D
0   NaN  19  17.0  17.0
1   9.0   3  19.0  12.0
2  24.0  22   NaN   5.0
3   7.0   9  24.0   NaN
4   1.0  13  21.0   5.0
5  19.0   3   9.0   NaN

Data with dropped NaN values:
      A   B     C     D
1  9.0   3  19.0  12.0
4  1.0  13  21.0   5.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [28]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'], size=10), 'Values':np.random.randint(1, 100, size=10)})

print("Original Dataframe:\n",df)
print()

grouped = df.groupby('Category')['Values'].agg(['sum', 'mean'])
print("Grouped Data frame:\n", grouped)

Original Dataframe:
   Category  Values
0        A      80
1        B      23
2        A      22
3        C       8
4        A      48
5        B      64
6        C       7
7        A      79
8        C      28
9        A      34

Grouped Data frame:
           sum       mean
Category
A         263  52.600000
B          87  43.500000
C          43  14.333333

In [30]:
# 2.
df2 = pd.DataFrame({'Product': np.random.choice(['iPhone', 'Acer Nitro5', 'Boat 535', 'USB Cable', 'TP-link'], size=10), 'Category': np.random.choice(['Phone', 'Laptop', 'Headphone', 'Accessories', 'Router'], size=10), 'Sales':np.random.randint(25, 75, size=10)})

print("Original Dataframe:\n", df2)
print()

grouped = df2.groupby('Category')['Sales'].sum()
print("Total Sales for each category:\n",grouped)

Original Dataframe:
        Product     Category  Sales
0  Acer Nitro5        Phone     41
1      TP-link        Phone     72
2    USB Cable        Phone     59
3      TP-link       Laptop     70
4     Boat 535  Accessories     60
5       iPhone        Phone     44
6       iPhone    Headphone     45
7      TP-link       Router     52
8     Boat 535       Router     38
9    USB Cable        Phone     52

Total Sales for each category:
 Category
Accessories     60
Headphone       45
Laptop          70
Phone          268
Router          90
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [32]:
# 1.
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})

df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})

print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)
print()

# Merge the dataframe using common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      98
1   B      68
2   C      75
3   D      32
DataFrame 2:
  Key  Value2
0   A      85
1   B      45
2   C      21
3   E      96

Merged DataFrame:
  Key  Value1  Value2
0   A      98      85
1   B      68      45
2   C      75      21

In [38]:
# 2.
df3 = pd.DataFrame(np.random.randint(20, 69, size=(3, 3)), columns=['C1', 'C2', 'C3'])

df4 = pd.DataFrame(np.random.randint(20, 69, size=(3, 3)), columns=['C4', 'C5', 'C6'])

print("DataFrame 1:")
print(df3)
print()
print("DataFrame 2:")
print(df4)
print()

# Concat the data frames along the rows
concat_row = pd.concat([df3, df4], axis=0)
print("Concatenated DataFrame (rows):\n", concat_row)
print()

# Concat the data frames along the rows
concat_col = pd.concat([df3, df4], axis=1)
print("Concatenated DataFrame (rows):\n", concat_col)

DataFrame 1:
   C1  C2  C3
0  36  53  44
1  28  37  66
2  42  66  51

DataFrame 2:
   C4  C5  C6
0  54  20  52
1  45  52  34
2  61  38  23

Concatenated DataFrame (rows):
      C1    C2    C3    C4    C5    C6
0  36.0  53.0  44.0   NaN   NaN   NaN
1  28.0  37.0  66.0   NaN   NaN   NaN
2  42.0  66.0  51.0   NaN   NaN   NaN
0   NaN   NaN   NaN  54.0  20.0  52.0
1   NaN   NaN   NaN  45.0  52.0  34.0
2   NaN   NaN   NaN  61.0  38.0  23.0

Concatenated DataFrame (rows):
    C1  C2  C3  C4  C5  C6
0  36  53  44  54  20  52
1  28  37  66  45  52  34
2  42  66  51  61  38  23

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [42]:
# 1.
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original Data frame:\n",df)

# Resample the data frame to compute the monthly mean of the values
monthly_mean = df.resample('ME').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original Data frame:
             data
date
2022-01-01    43
2022-01-02    28
2022-01-03    42
2022-01-04    82
2022-01-05    53
...          ...
2022-12-27    80
2022-12-28    49
2022-12-29    62
2022-12-30    81
2022-12-31    76

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  52.903226
2022-02-28  46.785714
2022-03-31  45.354839
2022-04-30  44.666667
2022-05-31  47.225806
2022-06-30  60.033333
2022-07-31  54.967742
2022-08-31  53.709677
2022-09-30  51.733333
2022-10-31  48.258065
2022-11-30  41.766667
2022-12-31  49.193548

In [44]:
# 2.
date_rng2 = pd.date_range(start="2021-01-01", end="2022-12-31", freq='D')
df = pd.DataFrame(date_rng2, columns=['Date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng2)))
df.set_index('Date', inplace=True)

print("Original DataFrame:")
print(df)
print()

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
Date
2021-01-01    29
2021-01-02    85
2021-01-03    12
2021-01-04    71
2021-01-05    20
...          ...
2022-12-27    35
2022-12-28    74
2022-12-29    19
2022-12-30    16
2022-12-31    26

[730 rows x 1 columns]

Rolling mean DataFrame:
                 data
Date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2022-12-27  43.857143
2022-12-28  46.571429
2022-12-29  48.142857
2022-12-30  50.285714
2022-12-31  48.857143

[730 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [50]:
# 1.
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])
print()
# print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              13      77       2
         two              18      44       9
B        one              97       7      87
         two              50      14      56
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              13      77       2
two              18      44       9

Value1    50
Value2    14
Value3    56
Name: (B, two), dtype: int32

In [53]:
# 2.
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:\n", sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              80      98      87
         two              92      51      74
B        one              13      42      12
         two              91      64      40
C        one              90      17       9
         two              91       8      80
Sum of values:
                       Value1  Value2  Value3
Category SubCategory
A        one              80      98      87
         two              92      51      74
B        one              13      42      12
         two              91      64      40
C        one              90      17       9
         two              91       8      80